BasedOnStyle: WebKit
Standard: c++20
Language: Cpp
ColumnLimit: 115
CommentPragmas: "^!|^:"
PointerAlignment: Left
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true
BreakBeforeBraces: Custom
BreakBeforeInheritanceComma: false
BreakConstructorInitializersBeforeComma: false
BraceWrapping:
 AfterCaseLabel: false
 AfterClass: false
 AfterControlStatement: Never
 AfterEnum: false
 AfterFunction: false
 AfterNamespace: false
 AfterObjCDeclaration: false
 AfterStruct: false
 AfterUnion: false
 AfterExternBlock: false
 BeforeCatch: false
 BeforeElse: false
 BeforeLambdaBody: false
 BeforeWhile: false
 IndentBraces: false
 SplitEmptyFunction: true
 SplitEmptyRecord: true
 SplitEmptyNamespace: true
AlignAfterOpenBracket: Align
PenaltyReturnTypeOnItsOwnLine: 1000
PenaltyBreakBeforeFirstCallParameter: 1000
AlwaysBreakTemplateDeclarations: Yes
AllowShortEnumsOnASingleLine: false
SortIncludes: Never
SortUsingDeclarations: true
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
SpaceBeforeParens: ControlStatements
DerivePointerAlignment: true
IndentPPDirectives: BeforeHash
KeepEmptyLinesAtTheStartOfBlocks: true
MaxEmptyLinesToKeep: 2
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlignConsecutiveMacros: Consecutive
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignEscapedNewlines: Right
AlignOperands: true
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: true
BinPackArguments: false
BinPackParameters: false
SpaceAfterTemplateKeyword: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceInEmptyParentheses: false
SpaceBeforeCpp11BracedList: true
Cpp11BracedListStyle: false
NamespaceIndentation: All
CompactNamespaces: false
FixNamespaceComments: true
TabWidth: 4
UseTab: Never
IndentWidth: 4
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: LogicalBlock