BasedOnStyle: WebKit
Standard: c++20
Language: Cpp
ColumnLimit: 110
CommentPragmas: "^!|^:"
#PointerBindsToType: true
PointerAlignment: Left
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true
BreakBeforeBraces: Custom
BreakBeforeInheritanceComma: false
BreakConstructorInitializersBeforeComma: false
BraceWrapping:
 AfterCaseLabel: false
 AfterClass: false
 AfterControlStatement: Never
 AfterEnum: false
 AfterFunction: false
 AfterNamespace: false
 AfterObjCDeclaration: false
 AfterStruct: false
 AfterUnion: false
 AfterExternBlock: false
 BeforeCatch: false
 BeforeElse: false
 BeforeLambdaBody: false
 BeforeWhile: false
 IndentBraces: false
 SplitEmptyFunction: true
 SplitEmptyRecord: true
 SplitEmptyNamespace: true

AlignAfterOpenBracket: AlwaysBreak
AlwaysBreakTemplateDeclarations: Yes
#AllowShortFunctionsOnASingleLine: Inline
AllowShortEnumsOnASingleLine: false
SortIncludes: Never
SortUsingDeclarations: true
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
SpaceBeforeParens: ControlStatements
DerivePointerAlignment: true
IndentPPDirectives: BeforeHash
KeepEmptyLinesAtTheStartOfBlocks: false

MaxEmptyLinesToKeep: 1
AllowShortIfStatementsOnASingleLine: Never
#AlignEscapedNewlinesLeft: true
AllowShortLoopsOnASingleLine: false

AlignConsecutiveMacros: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Right
AlignOperands: true
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: true

BinPackArguments: false
BinPackParameters: false